@inherits LayoutComponentBase

<PageTitle>用户管理</PageTitle>

<div class="page">
    <div class="adminpage_head">
        <div class="adminpage_head_a"><a href=""><span class="oi oi-home" style="font-size: 2rem;"></span>主页</a></div>
        <div class="loginstatus_main">
            <UserView/>
        </div>
    </div>
    <main>
        <article class="content px-4">
            @Body
        </article>
    </main>
</div>