@page "/todo"
<h3>Todo 未完成羡慕 @todes.Count(todo=>!todo.IsDone)</h3>
<ul>
    @foreach (var item in todes)
    {
        <li>
            <input type="checkbox" @bind="item.IsDone">
            <input @bind="item.Title">
        </li>
    }
</ul>
<input placeholder="Smothing Todo..." @bind="newTodo" />
<button @onclick="AddTodo">Add Todo</button>
@code {
    private List<TodoItem> todes =new();
    private string? newTodo;
    private void AddTodo()
    {
        if(!string.IsNullOrWhiteSpace(newTodo))
        {
            todes.Add(new TodoItem{Title=newTodo});
            newTodo = string.Empty;
        }
    }
    
}
